* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}
body {
    font-size: 1.6rem !important;
    font-family: "Sora", sans-serif !important;
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #10375c;
}
.btn {
    display: inline-block;
    font-size: 1.8rem;
    font-family: Sora;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
    background: #2e80ce;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    border: none;
    cursor: default;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navigation__controls--arrow {
    color: #575f66;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    background-color: #fff;
}
.next-btn,
.navigation__controls--arrow:hover {
    background: #2e80ce;
    border: none;
    color: #fff;
    cursor: pointer;
}
.next-btn {
    margin-left: 18px;
}
/* header */
.header {
    background: var(--primary-color);
    padding-top: 36px;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.hearder-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    font-size: 10px;
    display: inline-flex;
    align-items: center;
}
.inner-circle {
    display: inline-block;
    position: relative;
}
.inner-circle::before {
    display: inline-block;
    content: "";
    width: 3em;
    height: 3em;
    background: #2e80ce;
    border-radius: 50%;
}
.inner-circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background: #fff;
}
.logo-text {
    display: block;
    text-align: right;
    margin-left: 0.6em;
}
.text-shine {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}
.text-smile {
    margin-top: 0.3em;
    display: block;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}
.navbar ul {
    display: flex;
}

.navbar__btn--lognin,
.navbar__link {
    position: relative;
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 8px;
    content: "";
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}
.navbar__btn {
    display: flex;
    align-items: center;
}
.navbar__btn--signup {
    margin-left: 7px;
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}
.hero-section {
    background: var(--primary-color);
    padding: 84px 0 110px;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__text {
    max-width: 44%;
}
.hero__text--title {
    margin-top: 60px;
    color: #fff;
    font-family: Sora;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -0.14rem;
}
.hero__text--desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}
.hero__text--book-online {
    margin-top: 38px;
}
.hero__text--call-info {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}
.hero__image {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 46%;
}
.hero__image--stack {
    position: absolute;
    right: 204px;
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__image--secondary {
    width: 210px;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
}
.services {
    padding: 170px 0;
}
.services__header--title {
    color: var(--primary-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}
.services__header--desc {
    max-width: 468px;
    color: #575f66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}
.services__content {
    display: flex;
    justify-content: space-between;
}
.services__content {
    margin-top: 70px;
}

.services__image--dentist {
    width: 570px;
    height: 570px;
    border-radius: 30px;
    background: #2e80ce;
    object-fit: cover;
}
.service__card {
    display: flex;
    margin-left: 130px;
    padding: 21px 22px;
}
.service__card:hover {
    padding: 21px 22px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service__tooth {
    color: var(--primary-color);
    background-color: #eff6fd;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.service__card:hover .service__tooth {
    color: #fff;
    background-color: #2e80ce;
}

.service__details {
    margin-left: 19px;
}
.service__card--title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.service__card--desc {
    max-width: 351px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}
.service__card--btn {
    margin-left: 130px;
    margin-top: 55px;
}
.works {
    padding: 100px 116px;
    background: #f6fbff;
}
.works__header--title {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
}
.works__header--desc {
    max-width: 468px;
    margin-top: 16px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}
.works__container {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}
.works__content {
    padding: 43px;
    background: #fff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
}

.works__title {
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
}
.works__desc {
    color: #575f66;
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}
.works__learn-more {
    display: block;
    margin-top: 18px;
    color: #575f66;
    font-weight: 300;
}
.featured-step,
.works__content:hover {
    border-color: #2e80ce;
}
.works__content:hover .works__learn-more {
    color: #2e80ce;
}
.smile {
    padding: 170px 0 206px;
}
.smile__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smile__image {
    position: relative;
    max-width: 48.7%;
}
.smile__image--01 {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}
.smile__image--02 {
    position: absolute;
    z-index: 1;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    top: 121px;
    left: 238px;
}
.smile__content {
    margin-left: 188px;
    margin-top: 82px;
}
.smile__content--title {
    color: var(--primary-color);

    font-family: Sora;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}
.smile__content--desc {
    margin-top: 18px;
    color: #575f66;

    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3rem;
}
.smile__btn {
    margin-top: 38px;
}
/* virtual-dentist-section */

.virtual-dentist-section {
    padding: 85px 0 170px;
}
.virtual__title {
    color: var(--primary-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
}
.virtual__btn {
    display: flex;
    margin-top: 38px;
    justify-content: center;
}

.doctors__list {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
}
.doctor__image img {
    border-radius: 6px;
}
.doctor__details {
    margin-top: 6px;
}
.doctor__name {
    color: var(--primary-color);
    text-align: center;
    font-weight: 400;
}
.doctor__info {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
}
.virtual__nav {
    display: flex;
    margin-top: 38px;
    align-content: center;
    justify-content: center;
}

/* .download-app */
.download-app {
    padding: 95px 0 85px;
}
.app-download__content {
    display: flex;
    background: #2e80ce;
    position: relative;
}
.app-download__img {
    position: absolute;
    bottom: -3px;
    left: 70px;
}
.app__content {
    padding: 76px 70px 70px 514px;
}
.app__content--title {
    width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}
.app__content--desc {
    width: 586px;
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}
.download__btn {
    margin-top: 38px;
}
.store-btn {
    border: none;
    background: none;
}
.store-btn:hover {
    cursor: pointer;
    border: none;
    background: none;
}

.app-store-btn {
    margin-left: 10px;
}
/* news-events */
.news-events {
    padding: 85px;
}
.news-events__section {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.news-events__content {
    margin-top: 68px;
}
.news-events__title {
    color: var(--primary-color);
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}
.news-events__desc {
    display: block;
    margin-top: 28px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 155.556% */
    text-decoration: underline;
}
.news-events__nav {
    margin-top: 28px;
}

.news-events__list {
    display: flex;
    max-width: 50%;
    gap: 30px;
}
.news-events__card {
    max-width: 270px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
}
.news-events__card--img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
}
.news-events__card--content {
    padding: 18px 22px 21px;
}
.news-events__card--title {
    color: var(--primary-color);
    font-weight: 600;
    line-height: 2.6rem;
}
.news-events__card--desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
}
.news-events__card--learn-more {
    display: block;
    margin-top: 22px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
}
/* new-patients */
.new-patients {
    padding: 85px 0 170px;
}
.new-patients__section {
    background: #f6fbff;
}
.new-patients__content {
    padding: 100px 178px;
}
.new-patients__title {
    color: var(--primary-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}
.new-patients__underline {
    margin-top: 18px;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
    margin-left: auto;
    margin-right: auto;
}
.new-patients__desc {
    margin-top: 18px;
    color: #575f66;
    text-align: center;
    font-weight: 300;
    line-height: 2.8rem;
}
.new-patients__btn {
    display: flex;
    margin-top: 38px;
    justify-content: center;
}
